/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
    max-width: 1200px;
}

/* UTILITY */
.green{
    background-color: #a2d39b;
}

.brown{
    background-color: #61082b;
}

.blue{
    background-color: #0093ce;
}

.red{
    background-color: #ff1c1c;
}

.white{
    margin-left: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.language{
    color: grey;
    font-size: small;
    font-weight: normal;
}
/* /UTILITY */

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: white;
   
}

.header-left{
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 30%;
    height: 50px;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.header-right{
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 50px;
    width: 30%;
    list-style-type: none;
}
/* /HEADER */

.background{
    background-color: #B4D0E7;
    width: 100%;
    height: 33em;
}

/* CONTAINER PRINCIPALE  */
.main-container{
    width: 70%;
    margin: 3em  auto;
    background-color: white;
}

.jumbotron{
    height: 33em;
    background-color: #B4D0E7;
    position: relative;
}

/* TITOLO */
h1{
    text-align: center;
    font-size: 50px;
    width: 85%;
    margin: auto;
    padding-top: .5em;
}

/* ROW JUMBOTRON */
.row{
    display: flex;
    position: absolute;
    top: 50px;
    justify-content: center;
    margin-top: 9em;
}

/* COL JUMBOTRON */
.col1{
    width: 20%;
}

.bluebutton{
    background-color: #0061FF;
    color: white;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
}

.headbutton{
    margin-right: 10px;
    padding-left: .5em;
}

h5{
    font-weight: 500;
}

#arrow{
    font-size: 40px;
}

.col2{
    width: 60%;
}

h2{
    text-align: left;
    font-size: 30px;
    margin: auto;
    padding-top: 4em; 
}

/* RADIO BUTTON */
.fatturazione{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: .5em;
}

/* DESCRIZIONE */
#abbonamento{
    margin-right: 25px;
}

/* ROW TABELLE PIANI DI ABBONAMENTO */
.row2{
    display: flex;
    justify-content: space-around; 
}

/* COL TABELLE PIANI DI ABBONAMENTO */
.col{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 10px);
}

/* PARTE SUPERIORE COL PIANI DI ABBONAMENTO */
.col-top{
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    padding: .5em;
    width: 100%;
    background-color: white;
    border: 1px solid grey;
}

.col-button{
    display: flex;
    justify-content: center;
}

.col-button button{
    width: 70%;
    margin-top: 1.5em;
    background-color: #0061FF;
    color: white;
    border: none;
    padding: .7em;
}

/* PARTE INFERIORE TABELLE PIANI DI ABBONAMENTO */
.col-big{
    border: 1px solid grey;
    height: 800px;
}

.col-big ul{
    list-style-type: none;
    margin-left: 2em;
    margin-top: 1.5em;
}

.col-big ul li{
    margin-bottom: 1em;
}

li{
    display: flex;
}

li i{
    margin-right: 5px;
}

.tab-title{
    padding-top: 1em;
    padding-left: 1em;
}

.price{
    font-size: medium;
    padding-left: 2em;
}

#team-p{
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.grey{
    color: grey;
    font-size: smaller;
    padding-top: .2em;
    padding-left: 2.5em;
    font-weight: 200;
}

.users{
    margin-left: 5px;
}

.buy-now{
    display: inline-block;
    margin-left: 4em;
    margin-top: 1em;
}

.buy-now a{
    text-decoration: underline;
}

.hr{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4em;
    width: 15%;
}

.whitehr{
    color: white;
    margin-top: 100px;
    margin-bottom: 30px;
}

#logo-hr{
    border: 1px solid grey;
    margin-top: 20px;
    width: 40%;
}

.sub-title{
    font-weight: bold;
}

.blue-check{
    color: #0061FF;
}

/* ROW SEZIONE CON TITOLO TEAM   */
.team{
    width: 100%;
    margin-top: 60px;
    border: 1px solid grey;
}

/* ICONA E TITOLO SEZIONE TEAM */
.logo-team{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    border-bottom: 1px solid grey;
}

.logo-team span{
    margin-left: 5px;
}

.descrizione-team{
    display: flex;
}

.team-left{
    width: 60%;
}

.team-right{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 40%;
}

#team-button{
    background-color: #0061FF;
    color: white;
    padding: .5em;
    height: 40px;
    margin-top: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

/* ROW PARTE CON IMMAGINE GRANDE E DESCRIZIONE */
.row4{
    display: flex;
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.col4-1{
    width: 60%;
}

.col4-2{
    width: 40%;
}

#title-col4{
    margin-bottom: 20px;
    margin-left: 20px;
}

#p-col4{
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
}


/* ROW SECONDA SEZIONE */
.row5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

/* COL CARD SECONDA SEZIONE */
.col5{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3 - 10px);
    margin-bottom: 10px;
}

/* TITOLO CARD  */
.img-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* SEZIONE 3 MARGIN */
.section3{
    margin-bottom: 100px;
}

/* LINK TERZA SEZIONE */
.link{
    margin-top: 25px;
    margin-bottom: 20px;
}

/* COLORE SEZIONE IN BACKGROUND  */
.background-section{
    background-color: #B4D0E7;
}

/* QUADRATI DENTRO IL QUADRATO */
.row-background{
    display: flex;
    justify-content: space-between;
}

.col-background{
    width: calc(100% / 3);
    background-color: white
}

.inner-row{
    display: flex;
    flex-wrap: wrap;
}

.marchi{
    width: 150px;
    height: 150px;
}

#flor{
    width: 150px;
    height: 50px;
}

.inner-col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 250px;
}
/* <!-- QUADRATI DENTRO IL QUADRATO --> */

/* REGOLA OVERFLOW APPLICATA AL QUADRATO CENTRALE CON PARAGRAFO */
.overflow{
    overflow: auto;
}

.logo-company{
    width: 50%;
    margin-left: 20px;
    margin-top: 30px;
}

.col-background p{
    width: 80%;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.col-background  span{
    margin-left: 20px;
}

/* SEZIONE CON SFONDO BACKGROUND E BOTTONE  */
.blue-banner{
    width: 100%;
    background-color: #B4D0E7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* CONTENITORE DEI DUE DIV CON DENTRO FRASE E BOTTONE */
.advise{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
/* REGOLE APPLICATE ALLE DUE SEZIONI DI ADVISE */
.bot{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    flex-direction: column;
}

.advise-right{
    align-content: space-around;
}

.banner{
    font-size: 35px;
    font-weight: bold;
    color: #61082b;
}

.black{
    color: black;
    margin-right: 12em;
}

#banner-button{
    margin-top: 15px;
    width: 30%;
    background-color: white;
    color: black;
    padding: .5em;
    border: none;
}

/* CONTENITORE GENERALE FOOTER */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* PARTE SUPERIORE */
.footer-up{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

/* PARTE INFERIORE */
.footer-down{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 100px;
}

/* FAQ */
.questions{
    width: 70%;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid grey;
}

.questions:first-child{
    margin-top: 50px;
}

.questions:last-child{
    border-bottom: 1px solid grey;
}

.questions > span{
    font-weight: bold;
}

/* LISTA CON COLONNE NEL FOOTER */
.footer-links{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-links{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-links{
    width: calc(80% / 5 - 10px);
    padding: 1em;
    color: white;
}

.col-links ul li{
    padding: .5em;
    color: white;
    margin-left: 0px;
}

.col-links ul li a{
    color: white;
}

h4{
    padding-top: 3em;
    margin-left: 7px;
    margin-bottom: 10px;
}

