/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
    max-width: 1200px;
}

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: white;
   
}

.header-left{
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 30%;
    height: 50px;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.header-right{
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 50px;
    width: 30%;
    list-style-type: none;
}


.background{
    background-color: #B4D0E7;
    width: 100%;
    height: 33em;
}

.main-container{
    width: 70%;
    margin: 3em  auto;
    background-color: white;
}

.jumbotron{
    height: 33em;
    background-color: #B4D0E7;
    position: relative;
}

h1{
    text-align: center;
    font-size: 50px;
    width: 85%;
    margin: auto;
    padding-top: .5em;
}

.row{
    display: flex;
    position: absolute;
    top: 50px;
    justify-content: center;
    margin-top: 9em;
}

.col1{
    width: 20%;
}

.bluebutton{
    background-color: #0061FF;
    color: white;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
}

.headbutton{
    margin-right: 10px;
    padding-left: .5em;
}

h5{
    font-weight: 500;
}

#arrow{
    font-size: 40px;
}

.col2{
    width: 60%;
}

h2{
    text-align: left;
    font-size: 30px;
    margin: auto;
    padding-top: 4em; 
}

.fatturazione{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: .5em;
}

#abbonamento{
    margin-right: 25px;
}

.row2{
    display: flex;
    justify-content: space-around; 
}

.col{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 10px);
}

.col-top{
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    padding: .5em;
    width: 100%;
    background-color: white;
    border: 1px solid grey;
}

.col-button{
    display: flex;
    justify-content: center;
}

.col-button button{
    width: 70%;
    margin-top: 1.5em;
    background-color: #0061FF;
    color: white;
    border: none;
    padding: .7em;
}

.col-big{
    border: 1px solid grey;
    height: 700px;
}

.col-big ul{
    list-style-type: none;
    margin-left: 2em;
    margin-top: 1.5em;
}

.col-big ul li{
    margin-bottom: 1em;
}

.tab-title{
    padding-top: 1em;
    padding-left: 1em;
}

.price{
    font-size: medium;
    padding-left: 2em;
}

.grey{
    color: grey;
    font-size: smaller;
    padding-top: .2em;
    padding-left: 2.5em;
    font-weight: 200;
}

.users{
    margin-left: 5px;
}

.buy-now{
    display: inline-block;
    margin-left: 4em;
    margin-top: 1em;
}

.buy-now a{
    text-decoration: underline;
}

.hr{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4em;
    width: 15%;
}

.sub-title{
    font-weight: bold;
}

.blue-check{
    color: #0061FF;
}



.row3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* DEBUG */
    height: 200px;
    margin-top: 60px;
}

.col3{
    width: 100%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.row4{
    display: flex;
    margin-top: 3em;
    /* DEBUG */
   
    
    display: flex;
    justify-content: center;
}

.col4-1{
    width: 60%;
}

.col4-2{
    width: 40%;
}

#title-col4{
    margin-bottom: 20px;
    margin-left: 20px;
}

#p-col4{
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
}

.white{
    margin-left: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.row5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.col5{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3 - 10px);
    /* DEBUG */
    background-color: tomato;
    border: 1px solid white;
    margin: 5px;
}

.img-title{
    font-size: 25px;
    font-weight: bold;
}

.link{
    margin-top: 25px;
    margin-bottom: 20px;
}

.background-section{
    background-color: #B4D0E7;
}

.row-background{
    display: flex;
    justify-content: space-between;
}

.col-background{
    width: calc(100% / 3 - 10px);
    /* DEBUG */
    height: 500px;
    background-color: darkgreen;
    border: 1px solid white;
}

.overflow{
    overflow: auto;
}

.blue-banner{
    width: 100%;
    background-color: #B4D0E7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.advise{
    margin-top: 50px;
    margin-bottom: 60px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.bot{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    flex-direction: column;
}

.advise-right{
    align-content: space-around;
}

.banner{
    font-size: 35px;
    font-weight: bold;
}

#banner-button{
    margin-top: 15px;
    width: 30%;
    background-color: white;
    color: black;
    padding: .5em;
    border: none;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: tomato;
}

.footer-up{
    width: 70%;
    background-color: blue;
    height: 200px;
    display: flex;
    align-items: center;
}
